@charset "utf-8"
/* 서브페이지용 CSS - sub.css */

/* 공통 외부 CSS 합치기 */
@import url(./common.css);

/* 서브타이틀 */
h2.stit {
    color: hsl(260, 36%, 5%);
    font-size: 25px;
    font-weight: normal;
    font-family: "Black Han Sans";
    text-align: center;
    text-shadow: 2px 2px 2px black;}