@charset "utf-8";

/* GS PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/************* 1. 상단영역 *************/
.header .partbox {
    height: 120px;
    background-color: lightblue;
}

/************* 2. 메인영역 : .group-part *************/
#main {
    /* 본문영역 최소높이 셋팅! */
    min-height: 800px;
}
/************* 3. 하단영역 *************/
.footer .partbox {
    height: 100px;
    background-color: lightcoral;
}