@charset "utf-8";
/* GS PJ : 메인페이지 CSS - main.css */

/* 리셋,공통,외부 CSS 합치기(merging) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);



/* 공사중표시 */
body * {
    outline: 2px dashed #ccc;
}
body > div > * {
    outline-color: red;
}

/* 개별영역 박스 -> 확장형 박스
        -> 개별영역 중앙속박스에 높이값을 주면
        파트박스가 늘어날 경우 높이값에 제한을 받게됨!
        확장형은 반드시 파트박스에 높이값을 설정한다! */

/************* 2. 로고배너파트 *************/
#lgbanner {
    background-color: lightgreen;
    font-size: 3rem;
}
.lgbanner .partbox {
    height: 250px;
}

/************* 3. 이벤트배너파트 *************/
#evbanner {
    background-color: lightsalmon;
    font-size: 3rem;
}
.evbanner .partbox {
    height: 350px;
}

/************* 4. 행사배너파트 *************/
#slbanner {
    background-color: lightyellow;
    font-size: 3rem;
}
.slbanner .partbox {
    height: 350px;
}

/************* 3. 메인영역 : .group-part *************/
#main {
    /* 본문영역 최소높이 셋팅! */
    min-height: 800px;
}
/* 방송편성소개파트 */
.main .group-part-01 .partbox {
    height: 455px;
}
/* 미리보기파트 */
.main .group-part-02 .partbox {
    height: 298px;
}
/* 현장포토파트 */
.main .group-part-03 .partbox {
    height: 300px;
}
/* 대표이미지파트 */
.main .group-part-04 .partbox {
    height: 542px;
}
/* 최신동영상파트 */
.main .group-part-05 .partbox {
    height: 376px;
}